{% extends 'employees\employee_base.html' %}

{% block title %} Filtered by Day {% endblock %}

{% block content %}
{% if user.is_authenticated %}
  These customers have a regularly scheduled pickup for {{pick_up_day}}.<br />
  <ul>
  {% for customer in pick_up_day %}
    <li> <a href = "{% url 'employees:daily_filter' customer.pick_up_day %}" method = "POST"> Name:  {{ customer.name }}   Address:  {{customer.address}} </a></li> <br/>
    
  </ul>

  <a href="{%  'employee/index.html' %}">This link brings you to today's listings.</a>
  {% endfor %}
{% else %}
  
{% endif %}
{% endblock %}